    <div class="footer-structure">
        <footer>
            <div class="container">
                <p class="copyright">Click below to head back up</p>
                <div class="row">
                    <div class="col item social">
                        <a routerLink="/home"></a>
                        <a routerLink="/home"></a>
                        <a routerLink="/home"></a>
                        <a routerLink="/home"></a>
                    </div>
                </div>
                <p class="copyright">© 2023 Group B. All Rights Reserved</p>
            </div>
        </footer>
    </div>


